.container {
    border-radius: 10px;
}

#NavImage
{
    object-fit: contain;
    height: 5vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}
#NavImage:hover
{
transform: scale(1.06) translateY(-1px);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}


@media screen and (min-width: 768px)
{
  #NavImage
    {
    width: auto;
    }
}

.cardImage
{
    object-fit: contain;
    height: 25vh;
    width: 25vw;
}

#SEAherocrousel
{
    height: 70vh;
}
#SEAherocrousel * {
    height: 100%;
}
#SEAherocrousel img{
   height: 100%;
   object-fit: cover;  
}

.SEAnav li:hover a {
    color: whitesmoke;
    transition: color 0.3s ease;
}
.SEAnav li:hover {
    background-color: green;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}


#HomePageProduct img {
    object-fit: cover;
    width: auto;
    height: 200px;
    
}
#CompanyUsp{
    margin: 25px;
    padding: 25px;
}
#CompanyUsp img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.usp {
    background-color: aqua;
}

.awards {
    background-color: green;
}
.productSenario div.card-header
{
    border-radius: 20px;
}

.productSenario img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

@media screen and (max-width: 992px)
{
    .productSenario img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    
}
}

