#NavImage
{
    object-fit: contain;
    height: 8vh;
}

@media screen and (min-width: 768px)
{
  #NavImage
    {
    width: auto;
    }
}

.cardImage
{
    object-fit: contain;
    height: 25vh;
    width: 25vw;
}