<div class="container awards">
  <div id="CompanyUsp" class="row g-3">

      <div class="col-sm-6 col-lg-3">
      <div class="card text-center h-auto">
        <img src="../Images/Icons/Strength.svg" class="card-img-top p-3 mx-auto" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
          </p>
    
        </div>
      </div>
    </div>

     <div class="col-sm-6 col-lg-3">
      <div class="card text-center h-auto">
        <img src="../Images/Icons/Strength.svg" class="card-img-top p-3 mx-auto" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
         
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center h-auto">
        <img src="../Images/Icons/Strength.svg" class="card-img-top p-3 mx-auto" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
         
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center h-auto">
        <img src="../Images/Icons/Strength.svg" class="card-img-top p-3 mx-auto" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
