<div id="SEAherocrousel" class="carousel slide">
  <div class="carousel-inner ">
     <% data.forEach((item, index) => { %>
    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
      <img src="<%= item.url %>" class="d-block w-100" alt="carousel image">
    </div>
  <% }) %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#SEAherocrousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#SEAherocrousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>