<nav class="navbar navbar-expand-lg bg-body-tertiary SEAnav">
  <div class="container">
    <!-- Logo (Left) -->
    <a class="navbar-brand" href="/">
      <img id="NavImage" src="/Images/Companylogo/SEAInfonetLogo.png" alt="" height="40" />
    </a>

    <!-- Toggle Button (Mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Items (Right) -->
    <div class="collapse navbar-collapse justify-content-end" id="topNav">
      <ul class="navbar-nav ms-auto gap-lg-4">
        <li class="nav-item"><a class="nav-link" href="/msp">MSP</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Partners</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
           
            <li><a class="dropdown-item" href="/product/kaspersky">Kaspersky</a></li>
            <li><a class="dropdown-item" href="/product/bytescreen">Bytescreen</a></li>
            <li><a class="dropdown-item" href="/product/acronis">Acronis</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/demo">Request Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resource">Resources</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>