

        <div class="card" style="width: 26rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s content.</p>
                 <a href="#" class="mb-1 text-decoration-none ">📧 sales@seainfonet.com</a>
                <a href="#" class="mb-2 text-decoration-none">📞 +91 98765 43210</a>
            </div>
        </div>
   