<div class="container Presence mb-2">
    <div class="card text-center">
        <div class="card-body align-items-center row gy-2">
            <div class="col order-lg-1">
                <img class="card-img-top" src="../Images/Presence/IndiaMap.jpeg">
            </div>
            <div class="col-lg-1 order-lg-2"></div>
            <div class="col order-lg-3">
            <h5 class="card-title fw-semibold">Our Presence</h5>
            <p class="card-text">Founded in 2001, our company has grown into a leading IT security value-added distribution firm, delivering trusted solutions across the industry. With a strong network of over 2,000 resellers and a strong presence across India, we ensure widespread reach and reliable service, empowering businesses of all sizes with advanced cybersecurity technologies and support.</p>
            <a href="/contact" class="btn btn-primary">Work With Us</a>
            </div>
        </div>
    </div>
</div>
