<div class="container Presence">
    <div class="card text-center">
        <div class="card-body align-items-center row gy-2">
            <div class="col order-lg-1">
                <img class="card-img-top" src="../Images/Presence/IndiaMap.jpg">
            </div>
            <div class="col-lg-1 order-lg-2"></div>
            <div class="col order-lg-3">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Work With Us</a>
            </div>
        </div>
    </div>
</div>
