<div class="container">
  <div id="HomePageProduct" class="row gx-3 justify-content-center">
    <% data.forEach((item) => { %>
  <div class="col-md-4">
    <div class="card text-center h-auto custom-hover">
      <img src="<%= item.url %>" class="card-img-top p-3" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text"><%= item.description %></p>
        <button class="btn btn-primary productSenario-btn"
          data-bs-toggle="modal"
          data-bs-target="#talkToExpert">
          <%= item.btntxt %>
        </button>
      </div>
    </div>
  </div>
<% }) %>

  </div>
</div>