<div class="container vision mb-4">
    <div class="card text-center">
        <div class="card-body align-items-center row gy-2 custom-hover">
            <div class="col order-lg-3">
                <img class="card-img-top" src="../Images/Vision/vision.jpg">
            </div>
            <div class="col-lg-1 order-lg-2"></div>
            <div class="col order-lg-1">
            <h5 class="card-title">Our Vision</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#talkToExpert">
                   Join With Us
                </button>
            </div>
        </div>
    </div>
</div>
