<div class="container whoweare mt-3">
    <div class="card text-center">
        <div class="card-body align-items-center row gy-2">
            <div class="col order-lg-1">
                <img class="card-img-top" src="../Images/Team/SEAInfonetTeam.jpg">
            </div>
            <div class="col-lg-1 order-lg-2"></div>
            <div class="col order-lg-3">
            <h5 class="card-title fw-bold">Who We Are?</h5>
            <p class="card-text">Founded in 2001 and headquartered in Kolkata, SEA Infonet Pvt. Ltd. is India’s premier IT security value-added distribution company. With a robust network of resellers and a dedicated team of professionals, we have established a strong presence across the nation. At SEA Infonet, we specialize in delivering cutting-edge cybersecurity solutions and exceptional support to safeguard digital landscapes. We are committed to empowering our channel partners with comprehensive training, certification, and technical assistance, ensuring they have the tools and knowledge to build secure futures for their clients.</p>
            </div>
        </div>
    </div>
</div>
