<section class="mb-4">
  <div class="container bg-white">
    <h2 class="text-center mb-4 pt-4 fw-semibold">Plans</h2>

    <table class="table table-bordered text-center table-hover">
      <thead>
        <tr>
          <th>Plan</th>
          <th>Best For</th>
          <th>Key Features</th>
        </tr>
      </thead>

      <tbody>
        <% data.forEach(element => {%>
          <tr>
          <td><%= element.plan %></td>
          <td><%= element.bestFor %></td>
          <td><%= element.keyFeatures %></td>
        </tr>
        <% }); %>
        
      </tbody>
    </table>
  </div>
</section>