<section >
  <div class="container text-center mb-4 pb-4 pt-4 bg-white">
    <h2 class="mb-4 fw-semibold">Resources</h2>

    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5>Datasheet</h5>
            <a class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5>Brochure</h5>
            <a class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5>Demo Video</h5>
            <a class="btn btn-primary btn-sm">Watch</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5>Case Studies</h5>
            <a class="btn btn-primary btn-sm">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


