<section class="mb-4 ">
  <div class="container bg-white">
    <h2 class="text-center fw-semibold pt-4 mb-4">Reseller Benefits</h2>

    <div class="row text-center pb-4 hover">
      <div class="col-md-6">
        <div >
         <ul class="list-unstyled list-group">
          <% data[0].left.forEach(element => {%>
            <li class="list-group-item"><%= element %></li>
         <% }); %>   
        
    
        </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div >
            <ul class="list-unstyled list-group">
          <% data[0].right.forEach(element => {%>
            <li class="list-group-item"><%= element %></li>
         <% }); %>   
        
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-4 pb-4 pt-4 text-white text-center" style="background:#226c58;">
  <div class="container">
    <h2><%= data[1].title %></h2>
    <p><%= data[1].description %></p>
  </div>
</section>

