<section class="mb-4">
  <div class="container  bg-white">
    <h2 class="text-center mb-4 pt-4 fw-semibold">Products</h2>

    <div class="row text-center pb-4">
      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>SMEs</h5>
            <p >Affordable ransomware protection</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Enterprises</h5>
            <p>Advanced threat security</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Education</h5>
            <p>Secure student and staff systems</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Healthcare</h5>
            <p>Protect sensitive patient data</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>SMEs</h5>
            <p >Affordable ransomware protection</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Enterprises</h5>
            <p>Advanced threat security</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Education</h5>
            <p>Secure student and staff systems</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card custom-hover">
          <div class="card-body">
            <h5>Healthcare</h5>
            <p>Protect sensitive patient data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>