<section class="mb-4">
  <div class="container bg-white">
    <h2 class="text-center mb-4 fw-semibold pt-2">FAQs</h2>

    <div class="accordion accordion-flush" id="product-faq">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="flush-collapseOne">
         What is the reseller margin?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#product-faq">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item’s accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="flush-collapseTwo">
       How fast is license delivery?
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#product-faq">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item’s accordion body. Let’s imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="flush-collapseThree">
        Is technical support included?
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#product-faq">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
  </div>
</section>

<section class="py-5 text-center bg-success text-white">
  <div class="container">
    <h2>Grow Your Business with SEA Infonet</h2>

    <a class="btn btn-primary m-2">Become a Partner</a>
    <a class="btn btn-outline-light m-2">Talk to Sales</a>
    <a class="btn btn-outline-light m-2">Get Pricing</a>
  </div>
</section>